/* Container principal */
#section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-image: url("https://i.ibb.co/JjJ35pbT/Annotation-2025-11-25-142255.png");
    min-height: 100vh;
    color: white;
}

.sandwich-detail {
    max-width: 75vw;
    width: 100%;
    min-height: 60vh;
    background: linear-gradient(145deg, #8b5e3c, #a67c52);
    box-shadow: 0 48px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}

.sandwich-detail>div {
    padding: 50px;
}

.sandwich-detail button {
    background-color: #4a2f1a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.sandwich-detail button:hover {

    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}