<nav class="navbar">

  <div class="container">

    <!-- LOGO -->
    <a routerLink="/" class="logo">
      🍕 Pizzeria Bazine
    </a>

    <!-- MENU -->
    <div class="links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        Menu
      </a>

      <a routerLink="/panier" routerLinkActive="active" class="cart-link">
        Panier
        <span class="badge" *ngIf="cartCount$ | async as count">
          {{ count }}
        </span>
      </a>

      <a *ngIf="authService.isLoggedIn()"
         routerLink="/commandes"
         routerLinkActive="active">
        Mes commandes
      </a>

      <a *ngIf="authService.isAdmin()"
         routerLink="/admin"
         routerLinkActive="active">
        Admin
      </a>
    </div>

    <!-- AUTH -->
    <div class="auth">

      <span *ngIf="authService.isLoggedIn()" class="user">
        {{ authService.getCurrentUser()?.prenom }}
      </span>

      <a *ngIf="!authService.isLoggedIn()"
         routerLink="/login"
         class="btn ghost">
        Connexion
      </a>

      <a *ngIf="!authService.isLoggedIn()"
         routerLink="/register"
         class="btn primary">
        Inscription
      </a>

      <button *ngIf="authService.isLoggedIn()"
              (click)="logout()"
              class="btn ghost">
        Déconnexion
      </button>

    </div>

  </div>

</nav>
